:root{
    --primary-color: #fff6e7;
    --black-color: #170102;
}

main{
    font-family: "Montserrat", sans-serif;
    color: var(--black-color);
    overflow: hidden;
}

.text-serif{
    font-family: "DM Serif Display", serif;
    color: var(--black-color);
}